[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
flask-sqlalchemy = "==3.1.1"
flask-bootstrap = "*"
flask-wtf = "==1.2.1"
python-dotenv = "*"
gunicorn = "*"
flask-migrate = "*"
flask-script = "*"
pipfile = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
